.project-details .container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.author {
    color: #64D5DB;
    padding: 8px 14px;
    border-radius: 10px;
    background-color: #2E1A47;
    font-weight: 700;
    align-self: flex-start;
    font-size: 16px;
}

.project-title {
    font-weight: 500;
}

.project-description {
    margin-top: 0;
    font-size: 18px;
}

.tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    padding: 16px 0;
    border-top: 1px solid #0a2a35;
    border-bottom: 1px solid #0a2a35;
}

.tag {
    font-size: 14px;
    padding: 8px 14px;
    border-radius: 10px;
    background-color: #002D3C;
    color: #64D5DB;
    font-weight: 500;
}

.files {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 8px;
    align-items: flex-start;
}

.file-entry {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 14px;
    color: #dbdbdb;
    border-bottom: 1px solid transparent;
    opacity: .4;
    transition: border-color .2s ease, opacity .2s ease;
    align-items: center;
}

.file-entry .file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-entry img {
    width: 24px;
}

.project-actions {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.remove-project {
    width: auto;
    padding: 12px 25px;
    background-color: #740000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.edit-project {
    color: #ffffff;
    padding: 12px 25px;
    background-color: rgb(229, 79, 0);
    border-radius: 12px;
    font-size: clamp(1rem, 0.867rem + 0.43vw, 1.25rem);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-warning {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: #001F2E;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 15px;
}
.modal-warning.open {
    display: flex;
}

.modal-warning p {
    font-size: clamp(0.875rem, 0.466rem + 2.05vw, 2rem);
}

.modal-warning .modal-actions {
    display: flex;
    gap: 12px;
}

.agreement {
    background-color: #740000;
    color: #ffffff;
    width: auto;
    padding: 10px 25px
}

.cancel {
    padding: 10px 25px;
    border-radius: 12px;
    background-color: #00161E;
}

@media(max-width: 432px) {
    .files {
        align-items: stretch;
    }
}

@media(hover: hover) {
    .file-entry:hover {
        opacity: .6;
        border-color: #dbdbdb;
    }
} 
