@page
@model Foliofy.Pages.profile.ProjectModel

@section Styles {
    <link rel="stylesheet" href="~/project/project.css" />
}

<section class="project-creation">
    <div class="container">
        <h2><span class="title-word-wrapper">Share</span> your project!</h2>
        <form class="project-form" novalidate>
            @Html.AntiForgeryToken()
            <div class="field">
                <label for="project-name">Project Name</label>
                <input type="text" id="project-name" placeholder="Enter project name..." />
            </div>
            <div class="field">
                <label for="project-description">Description</label>
                <input type="text" id="project-description" placeholder="Enter some description..." />
            </div>
            <div class="field files">
                <div class="uploaded-files">
                    <span class="upload-title">Upload Files</span>
                    <button class="upload-file" type="button">Upload File</button>
                    <div class="uploaded-files-container"></div>
                    <input type="file" id="uploadedFiles" hidden multiple />
                </div>
                <div class="cover-image">
                    <span class="upload-title">Cover Image</span>
                    <div class="upload-image-wrapper">
                        <img src="~/assets/images/icons/upload.svg" class="uploaded-image" alt="upload icon" />
                        <div class="upload-action">
                            <span class="action-text">Click to open</span>
                            <button class="upload-file" id="upload-cover" type="button">Choose File</button>
                            <input type="file" id="uploadedCover" accept=".jpg,.jpeg,.svg,image/jpeg,image/svg+xml" hidden />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field profile-tags">
                <h4>Tags</h4>
                <div class="tags-container field"></div>
                <button class="remove-tag" type="button">
                    Remove selected
                    <img src="~/assets/images/icons/edit/remove-icon.svg" />
                </button>
                <div class="custom-tag">
                    <label for="tagName">Tag Name</label>
                    <div class="tag-input field">
                        <input type="text" name="tagName" id="tagName" placeholder="Enter tag name..." />
                        <button class="add-button" id="add-custom-tag" type="button">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="field access">
                <span>Status</span>
                <div class="access-types">
                    <div class="status active">
                        <span class="radio"></span>
                        <span>Public</span>
                    </div>
                    <div class="status">
                        <span class="radio"></span>
                        <span>Private</span>
                    </div>
                    <input type="hidden" id="status" />
                </div>
            </div>

            <div class="project-buttons">
                <button type="submit" class="save-project">
                    <img src="~/assets/images/icons/edit/save-icon.svg" />
                    Save
                </button>
                <a asp-page="./profile" class="cancel">Cancel</a>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <script src="~/project/js/radioButton.js"></script>
    <script src="~/project/js/tags.js"></script>
    <script src="~/project/js/uploadCoverImage.js"></script>
    <script src="~/project/js/uploadFiles.js"></script>
    <script src="~/project/js/CreateProjectSubmit.js"></script>
}

