@page "/"
@model homeModel

@section Styles {
    <link rel="stylesheet" href="~/home/home.css" />
}

<main class="main">
    <section class="start">
        <div class="container">
            <div class="start__content">
                <h1 class="start__content-title"><span class="title-word-wrapper">Share</span> your design with the world</h1>
                <p class="start__content-text">Share your design ideas, get inspired by others, and take on real creative requests from the community.</p>
                <a class="start__content-btn">Get Started</a>
            </div>
            <div class="start-illustration">
                <img src="~/assets/images/img/getStarted/illustration.jpg">
            </div>
        </div>
    </section>
</main>